<!-- Dialog housing -->

<div cdkDrag cdkDragRootElement=".cdk-overlay-pane" cdkDragBoundary="body">

  <header class="dialog">
    <div id="header-button-back">
        <button mat-icon-button *ngIf="symbolCreator?.currentMode" (click)="goBack()">
          <mat-icon>arrow_back</mat-icon>
        </button>
    </div>
    <div id="header-title">
        <h1 *ngIf="symbolCreator?.currentMode" mat-dialog-title class="mb-0">Symbol Creator AI</h1>
    </div>
    <div class="dialog-button-close">
        <button mat-icon-button (click)="dialogRef.close()" appStopPropagation
                aria-label="Discard"  matTooltip="Discard"
                i18n-aria-label="discard|Discard (throw away, cancel)" i18n-matTooltip="Discard changes (same button used for editing and creating symbols)"
                gaCategory="SymbolCreator" gaEvent="click" gaLabel="DiscardChanges">
          <mat-icon>close</mat-icon>
        </button>
    </div>
  </header>

  <div mat-dialog-content class="pb-3">
    <app-symbol-creator-ai [parentDialogRef]="parentDialogRef"></app-symbol-creator-ai>
  </div>
</div>