<!-- Style controls -->
<div class="controls-row" *ngIf="styleState$ | async as styleState">
  <mat-form-field appearance="outline" class="control-item">
    <mat-label>Style</mat-label>
    <mat-select [value]="styleState.selectedStyle" (selectionChange)="onStyleChanged($event.value)" name="style">
      <mat-option *ngFor="let style of styleState.availableStyles" [value]="style">
        {{ style }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="outline" class="control-item">
    <mat-label>Culture</mat-label>
    <input matInput [value]="styleState.additionalText" (input)="onAdditionalTextChanged($event)">
  </mat-form-field>

  <mat-slide-toggle [checked]="styleState.backgroundEnabled" (change)="onBackgroundEnabledChanged($event.checked)" class="control-item">
    White Background
  </mat-slide-toggle>
</div>

<button *ngIf="showGenerateButton" 
        mat-raised-button 
        color="primary" 
        (click)="generateClicked.emit()" 
        class="mt-1" 
        [disabled]="generateButtonDisabled">
  {{ generateButtonText }}
</button>