<div cdkDrag
     cdkDragRootElement=".cdk-overlay-pane"
     cdkDragBoundary="body"
>

  <header class="dialog">
    <div id="header-button-title">
      <h1 mat-dialog-title class="mb-0">Symbol Designer</h1>
    </div>

    <div class="dialog-button-close">
      <button mat-icon-button (click)="dialogRef.close()" appStopPropagation
              aria-label="Discard"  matTooltip="Discard"
              i18n-aria-label="discard|Discard (throw away, cancel)" i18n-matTooltip="Discard changes (same button used for editing and creating symbols)"
              gaCategory="SymbolCreator" gaEvent="click" gaLabel="DiscardChanges">
        <mat-icon>close</mat-icon>
      </button>
    </div>
  </header>

  <div mat-dialog-content class="pb-3">
    <app-symbol-creator appStopPropagation [media]="media"></app-symbol-creator>
  </div>

</div>