<div class="images-container" *ngIf="isGenerated" [@expand] (@expand.done)="onExpandDone($event)">
  <div class="images-row" *ngIf="showImages">
   <div class="image-placeholder" [ngClass]="{ 'selected': i === selectedImageIndex, 'refreshing': isRefreshing }" *ngFor="let img of generatedImages; let i = index; trackBy: trackByIndex"
         (click)="selectImage(i)" [@fadeIn]
         [style.background-image]="'url(' + img + ')'"
         [style.background-size]="'cover'"
         [style.background-position]="'center'">
    </div>
          <mat-progress-spinner *ngIf="isLoading" mode="indeterminate" diameter="100" class="loading-overlay"></mat-progress-spinner>
  </div>
</div>